[Desktop Entry]
Name=Diapason
Exec=java -jar $JAR_DIRECTORY/DiapasonFX.jar
Comment=
Terminal=false
Icon=$JAR_DIRECTORY/res/diapason.png
Type=Application
StartupWMClass=Diapason
